@import "~normalize-scss";
$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";

html, body { margin: 0; padding: 0; background: #1e1e1e; }
#panes { position: absolute; left: 0; right: 0; top: 0; bottom: 0; display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 4fr 1fr;
	%column-1 { grid-column: 1; z-index: 2; }
	%column-2 { grid-column: 2; z-index: 1; }
	.status { background: rgba(255,255,255,.5); padding: 4px; font-size: 2em; line-height: 1.4; position: relative; left: 64px; pointer-events: none; opacity: 0; }
	.toolbar { display: flex; flex-flow: row nowrap;
		button { flex: 0 1 24px; opacity: 0.5; z-index: 1;
			&:hover,
			&:focus,
			&:active { opacity: 1; transform: scale(1.25) translateY(2px); transition: all .5s ease; cursor: pointer; z-index: 2; }
		}
	}
	#editor { @extend %column-1; grid-row: 1 / span 2; position: relative; }
	#image { @extend %column-2; grid-row: 1; position: relative;
		img { position: absolute; left: 0; top: 0; right: 0; bottom: 0; object-fit: contain; }
	}
	#source-toolbar { position: relative; left: 16px; }
	#source { @extend %column-2; grid-row: 2; position: relative; margin: 0 0 0 -16px; }
	.monaco-editor { position: absolute; left: 0; top: 0; right: 0; bottom: 0; }
}
@keyframes fadeOut {
	0% { opacity: 1; }
	80% { opacity: 1; }
	100% { opacity: 0; }
}

